.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--bg-offset);
    border-top:1px solid var(--border);
    padding: 0.3rem 0 0.5rem 0;
    // margin-right: 10px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    // margin-right: 20px;
}
